 html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

*, *::before, *::after {
    box-sizing: inherit;
    
}

h1::before{
    background: black;
    content: "";
    display: block;
    height: 10px;
    width: 50px;
}

[href$=".pdf"]::after{
    content: "(.pdf)";
}

[target="_blank"]::after{
    content: " (open in new window)";
}

fieldset {
  /* Different way align-items:flex-start ; 
    display: flex;
    flex-direction: column; */
align-items: baseline;
display: grid;
gap: 1rem;
grid-template-columns: 200px 1fr;


}

label{
    margin: 1rem 0 0.5rem;
}
#cc  {
    order: 0;

}

[for="cc"]{
    order:1;
}
#twint{
order:2;
}

[for="twint"]{

    order:3;
}
