

body {
    background-color: #e6eaea;
    background-size: 70%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
div{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 20px;
}
h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}
p{
    text-align: center;
    color: rebeccapurple;
}

ul {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    
}

li {

    background-color: none;
    margin: 10px 0;
    gap:20px;
}
li:hover{
    background-color: rgb(141, 152, 152);
}
img{
    width: 100px;
    height: 100px;
    
    
    
}

#selectedCompanies {
    margin-bottom: 20px;
}

#comparisonResults {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
    background-color: #fff;
}

.companyCheckbox:checked + label {
    font-weight: bold;
    color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ada6ad;
}
.comparisonTable {
    width: 100%;
    border-collapse: collapse;
}

.comparisonTable th, .comparisonTable td {
    border: 1px solid #92c4c7;
    padding: 8px;
    text-align: left;
}

.comparisonTable th {
    background-color: #f2f2f2;
}

.comparisonTable tr:nth-child(even) {
    background-color: #aac5d1;
}

.comparisonTable tr:nth-child(odd) {
    background-color: #fff;
}